
.nav-contents{
    display: flex;
    justify-content: space-between;
    background-color: #fc624d;
    align-items: center;
}

.left-nav ul button{
outline: none;
border: none;
color: white;
padding: 5px;
background: none;
transition: transform 0.3 ease;

}
.right-nav ul button{
color: white;
padding: 5px;
outline: none;
border: none;
color: white;
background: none;
transition: transform 0.3 ease;
}
.left-nav ul button:hover, .right-nav ul button:hover{
     cursor: pointer;
     transform: translateY(-1px);
}
.blog-window {
    margin: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 76vh; 
    background-color: #ffebe8;
  }
  
  .blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  

@media(max-width:768px){
    .nav-contents{
        display: none;
    }
    .blog-window{
        height: 88vh;
    }
}