
.nav-contents{
    display: flex;
    justify-content: space-between;
    background-color: #fc624d;
    align-items: center;
}

.left-nav ul button{
outline: none;
border: none;
color: white;
padding: 5px;
background: none;
transition: transform 0.3 ease;

}
.right-nav ul button{
color: white;
padding: 5px;
outline: none;
border: none;
color: white;
background: none;
transition: transform 0.3 ease;
}
.left-nav ul button:hover, .right-nav ul button:hover{
     cursor: pointer;
     transform: translateY(-1px);
}

@media(max-width:768px){
    .nav-contents{
        display: none;
    }
}