.order-content{
    margin: 10px;
  
}

.order-name{
    width: 100px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    border-radius: 5px;
    display: flex;
justify-content: center;
align-items: center;
}

.order-name:hover{
    cursor: pointer;
}


.order-body{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: lightgreen; */
}

.order-display{
    width: 30%;
    height: 250px;
    display: flex;
    border-color: rgb(206, 206, 206);
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;

}
.spinner-center{
    width: 100%;
  display: flex;
  align-items: center;
}
.order-details{
    width: 350px;
    height: 250px;
    margin-left: 15px;

}
.order-details-container{
    width: 100%;
    margin: auto;
}
.order-image{
    height: 250px;
    width: 50%;
}
.order-image img{
    width: 90%;
    height: 250px;
    object-fit: fill;
}
.order-list{
    height: 250px;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
}

.order-buttons{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 15px;

}

.count-div{
    display: flex;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    width: 80px;
}
.count{
    display: flex;
    width: 35px;
    align-items: center;
    justify-content: center;
}
.order-buttons button{
    background: none;
    border: none;
}

.total-price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-window{
    padding: 10px;
margin-top: 10px;
width: 100%;
height: 250px;
display: flex;
flex-direction: column;
position: relative;
background-color: #fbf3ea;
}

.summary-table{
width: 100%;
display: flex;
}
.left-summary-table{
width: 100%;
height: 150px;

}
.left-summary-table table{
width: 100%;
}

.table-calculation{
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.checkout-button{
position: absolute;
bottom: 0px;
padding-bottom: 15px;
display: flex;
justify-content: center;
width: 100%;

}
.checkout-button button{
    width: 70%;
    height: 40px;
    background: none;
    border: none;
    background-color: #021133;
    border-radius: 5px;
    color: white;
    transition: transform 0.3s ease ;
}

.checkout-button button:hover{
    cursor: pointer;
    transform: translateY(-1px);
}

.checkout-div{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 340px;
    position: relative;
}

.checkout-options{
    display: flex;
}
.checkout-options button{
    width: 200px;
    height: 40px;
    border: none;
    background: none;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(214, 214, 214);
}
.checkout-options button.active{
    background-color: #021133;
    border-bottom-right-radius: 8px;
    color: white;

}

.main-checkout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
}
.credit-card-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 5px;
}


.credit-card{
    display: flex;
    justify-content: space-evenly;
}

.proceed-button{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}
#input-options{
    height: 30px;
}
.proceed-button button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #021133;
    color: white;
}
.mpesa-div{
    display: flex;
    flex-direction: column;
margin-top: 50px;
padding: 5px;

}
.mpesa-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.mpesa-content h4, small{
    margin: 2px;
}

.mpesa-content input{
    width: 50%;
}
@media (max-width: 868px){
    .order-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .order-display{
        /* width: 250px; */
        width: 100%;
        display: flex;
        flex-direction: column;

    }
   .order-image{
    width: 100%;
    height: 250px;
    width: 50%;
   }
   .order-image img{
    /* width: 200px;
    height: 250px;
    object-fit: fill; */
    width: 100%;
    height: 250px;
    object-fit: fill;
   }
   
   .main-checkout{
    display: flex;
    align-items: flex-start;
   }
}